extends base
block content
    .container-content.bg-light
        if (student)
            form.form-create(action=`/update/${student.id}` method='POST')
                h2.text-center.fw-bold.text-primary Edit
                .row.mb-4
                    .col
                        .form-outline
                            label.form-label(for='firstname') First name
                            input#firstname.form-control(type='text' name='firstName' value=`${student.firstName}`)
                    .col
                        .form-outline
                            label.form-label(for='lastname') Last name
                            input#lastname.form-control(type='text' name='lastName' value=`${student.lastName}`)
                .form-outline.mb-4
                    label.form-label(for='address') Address
                    input#address.form-control(type='text' name='address' value=`${student.address}`)
                // Email input
                .form-outline.mb-4
                    label.form-label(for='email') Email
                    input#email.form-control(type='email' name='email' value=`${student.email}`)
                // Number input
                .form-outline.mb-4
                    label.form-label(for='phone') Student ID
                    input#phone.form-control(type='number' name='studentID' value=`${student.studentID}`)
                // Submit button
                button.btn.btn-primary.btn-block.mb-4(type='submit') Update
        else 
            form.form-create(action='/create' method='POST')
                if (errors)
                    .alert.alert-warning.alert-dismissible.fade.show.m-0(role='alert')
                        strong 
                            each error in errors  
                                p.m-0 #{error.msg} 
                        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                if (success)
                    .alert.alert-success.alert-dismissible.fade.show.m-0(role='alert')
                        strong Success
                        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                h2.text-center.fw-bold.text-primary Create
                .row.mb-4
                    .col
                        .form-outline
                            label.form-label(for='firstname') First name
                            input#firstname.form-control(type='text' name='firstName')
                    .col
                        .form-outline
                            label.form-label(for='lastname') Last name
                            input#lastname.form-control(type='text' name='lastName')
                .form-outline.mb-4
                    label.form-label(for='address') Address
                    input#address.form-control(type='text' name='address')
                // Email input
                .form-outline.mb-4
                    label.form-label(for='email') Email
                    input#email.form-control(type='email' name='email')
                // Number input
                .form-outline.mb-4
                    label.form-label(for='phone') Student ID
                    input#phone.form-control(type='number' name='studentID')
                // Submit button
                button.btn.btn-primary.btn-block.mb-4(type='submit') Create
